# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
env/
.env/

# Secret environment files
.env
*.env

# Large model files
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db